.UV-HIGHLIGHT-TEXT {
  border-radius: 0.25em;
  cursor: pointer;
  transition: background 200ms ease-in-out;
  background-color: #cf80ff3f;
  border: 1px dashed #cf80ff3f;
}

.UV-HIGHLIGHT-TEXT:hover {
  background-color: #cf80ff7f;
}
